{% extends 'base.html' %}
{% block title%}{{budget.name}}{% endblock%}
{% block content %}
    <h1 class="title">{{budget.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'budget_update' budget.pk %}" class="button is-info"> Updates   
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">Amount</h4>
        <p>{{budget.amount}}</p>
    </div>
</div>

{% endblock %}