{% extends 'base.html' %}
{% block title%}{{budget.name}}{% endblock%}
{% block content %}
    <h1 class="title">{{budget.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'budget_update' budget.pk %}" class="button is-info">   
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'budget_delete' budget.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
        <div class="detail__expenses mb-5">
            <h3 class="title is-3">Expenses</h3>
        
            {% for expense in budget.expenses.all %}
            <div class="song">
              <span>{{forloop.counter}}</span>
              <span><b>{{expense.name}}</b></span>
              <span>{{expense.amount}}</span>
              <span>{{expense.date}}</span>
            </div>
                {% empty %}
            <article class="message">
              <div class="message-header">
                <p>No expenses available</p>
              </div>
            </article>
        
            {% endfor %}
        </div>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">Amount</h4>
        <p>{{budget.amount}}</p>
    </div>
</div>

{% endblock %}