{% extends 'base.html' %} {% block content %}
{% load static %}

<h1 class="title">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'expense_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'expense_create' %}">Add Expense</a>
</form>
<div class="gallery">
  {% for expense in expenses %}
    <div class="ex-card">
      <div class="card-header">
        <p class="card-header-title">{{expense.name}}</p>
        <p class="ex-amount">{{expense.amount}}</p>
        <p class="date">{{expense.date}}</p>
      </div>
      <div class="buttons">
        <a href="{% url 'expense_update' expense.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'expense_delete' expense.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    </div>
  {% endfor %}
</div>

{% endblock %}